<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/Iaato/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/Iaato/css/stylecontact.css" rel="stylesheet" media="screen">
</head>
<!-- Debut du header-->
<header>
  <img style="margin:0 auto; display:block" src="/Iaato/img/iaato_header.jpg">
</header>
<!-- bar de navigation -->
<div class="navbar">
<div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('iaato_iaato_homepage') }}">Welcome to IAATO</a>
          <div class="nav-collapse collapse">
            <ul class="nav"> 
              <li ><a href="{{ path('iaato_iaato_homepage') }}">Home</a></li>
  <li><a href="{{ path('iaato_capitaine') }}">Capitaine</a></li>
  <li><a href="{{ path('iaato_secretariat') }}">Secretariat</a></li>
  <li><a href="{{ path('iaato_contact') }}">Contact</a></li>
            </ul>
            {% block connexion %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="btn btn-danger"  href="{{ path('logout') }}">Déconnexion</a>
            {% endif %}
            {% endblock %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
</div>
<body class="container" style="background-color:#76C0E8">
{% block body%}{% endblock %}
</body>
<footer class="navbar-inner">
<a>mailto</a>
<p>informations diverses</p>
</footer>
</html>
