{% extends '::base.html.twig' %}

{% block title %}
	Type
{% endblock %}

{% block body %}

<div class="well">

<ul class = "nav nav-pills">
  <li><a href={{ path('iaato_society') }}>Company</a></li>
  <li><a href={{ path('iaato_ship',{"index":"1"}) }}>Ship</a></li>
  <li><a href={{ path('iaato_site') }}>Site</a></li>
  <li><a href={{ path('iaato_activity') }}>Activity</a></li>
  <li class = "active"><a href={{ path('iaato_type') }}>Type</a></li>
</ul>

<ul class="nav">
	<a class="btn btn-info" href="{{ path('iaato_type') }}" >Show types</a>
	<a class="btn btn-info" href="{{ path('iaato_type_add') }}" >Add a type</a>	
	<a class="btn btn-info" href="{{ path('iaato_type_remove') }}" >Remove a type</a>
</ul>

{% block bodytype %}

{% if types is empty %}
  <p>No types</p>

{% else %}
	<table class="table table-hover table-bordered" style="width: 40%;background-color:white;">
		
		<thead style="background-color:#49afcd">
			<tr>
	  			<th style="color:iophyjkb">Types</th>
			</tr>
		</thead>

		<tbody>
			{% for type in types %}
	  			<tr>
	    			<td><p>{{ type.labelType }}</p></td>
	  			</tr>
			{% endfor %}
		</tbody>

	</table>
{% endif %}

{% endblock %}

</div>

{% endblock %}

