{% extends '::base.html.twig' %}

{% block body %}

<ul class="nav nav-pills">
	<li class="active"><a href="{{ path('iaato_ship') }}" id="linklistship">See all ships</a></li>
	<li><a href="{{ path('iaato_ship_change') }}" id="linkchangeship">Change a ship</a></li>
	<li><a href="{{ path('iaato_ship_add') }}" id="linkaddship">Add a ship</a></li>
	<li><a href="{{ path('iaato_ship_delete') }}" id="linkdeleteship">Delete a ship</a></li>
</ul>

<div class="list" style="display:block;">
	<table style="margin:15px 15px">
		<tr>
			<th style="padding:10px">Code</th>
			<th style="padding:10px">Name ship</th>
			<th style="padding:10px">Number of passenger</th>
			<th style="padding:10px">Type</th>
			<th style="padding:10px">Society</th>
		</tr>

		{% for ship in ships %}
		<tr>
			<td style="padding:7px">{{ ship.code }}</td>
			<td style="padding:7px">{{ ship.nameShip }}</td>
			<td style="padding:7px">{{ ship.nbPassenger }}</td>
			<td style="padding:7px">{{ ship.labelType }}</td>
			<td style="padding:7px">{{ ship.labelSociety }}</td>
		<tr>
		{% else %}
		<p>No ships</p>
		{% endfor %}
	</table>
</div>

{% endblock %}

{#}
{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/iaatoiaato/js/ship.js') }}" ></script>
{% endblock %}
#}