{% extends ['IaatoIaatoBundle:Capitaine:index.html.twig'] %}

{% block title %}
	Expedition Leader
{% endblock %}

{% block body %}

 
<ul class="nav" style="margin-top:15px;">
	<a class="btn btn-info" href="{{ path('iaato_step_list',{'index':1}) }}" >Show steps</a>
	<a class="btn btn-info" href="{{ path('iaato_step_list_add',{"param":"null"}) }}" >Add a step</a>	
	<a class="btn btn-info" href="{{ path('iaato_step_list_remove') }}" >Remove a step</a>
</ul>
<h2>Step add</h2>
<h3>{{ msg }}</h3>
  <div >
  <form class="span5" action="" method="post" {{ form_enctype(form_day) }} class="form">
      {{ form_errors(form_day) }}
      {{ form_label(form_day.date) }}
      {{ form_widget(form_day.date) }}
      {{ form_rest(form_day) }}
      <input type="submit" value="Check Sites" class="btn btn-primary" />
      <br/><br/>
  </form>
  </div>
  <form class="" action="" method="post" {{ form_enctype(form_site) }} class="form"> 
<br/>
      {{ form_errors(form_site) }}
      {{ form_rest(form_site) }}
      <br/>
      <input type="submit" value="Check Disponibility" class="btn btn-primary" />
  </form>
<br/>
{% endblock %}
{% block javascripts %}
<script>
  $(document).ready(function(){ 
    $("form input.date").datepicker();
    $("#form_site").select2();
    });
</script>
{% endblock %}