{% extends '::base.html.twig' %}

{% block title %}
	Expedition Leader
{% endblock %}

{% block body %}

<div class="well">
<div class ="btn-group">
  <a class="btn btn-warning" href={{ path('iaato_map_homepage') }}>Map</a>
  <a class="btn btn-warning" href={{ path('iaato_step_list') }}>List</a>
  <a class="btn btn-warning" href={{ path('iaato_csv_download_steps_el') }}>Download Step CSV</a>
  <a class="btn btn-warning" href={{ path('iaato_csv_upload_el') }}>Upload Step CSV</a>
  <a class="btn btn-warning" href={{ path('iaato_csv_download_sites_el') }}>Sites</a>
</div>
  
<ul class="nav" style="margin-top:15px;">
	<a class="btn btn-info" href="{{ path('iaato_step_list') }}" >Show steps</a>
	<a class="btn btn-info" href="{{ path('iaato_step_list_add')}}" >Add a step</a>	
	<a class="btn btn-info" href="{{ path('iaato_step_list_remove') }}" >Remove a step</a>
</ul>
<h2>Step add</h2>

<div class="btn-group">
  <a class="btn btn-inverse" href="{{ path('iaato_step_list_add2',{"y":y,"m":m,"param":"day"}) }}">By Day</a>
  <a class="btn btn-inverse" href="{{ path('iaato_step_list_add2',{"y":y,"m":m,"param":"site"}) }}">By Site</a>
</div>
{% if param == 'day' %}
<form method="post" {{ form_enctype(form) }} class="form">
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    <input type="submit" value="Envoyer" class="btn btn-primary" />
</form>
{% elseif param == 'site' %}
<form method="post" {{ form_enctype(form) }} class="form">
    {{ form_errors(form) }}
    {{ form_row(form.site) }}
    {{ form_rest(form) }}
    <input type="submit" value="Envoyer" class="btn btn-primary" />
</form>
{% endif %}

</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function() { $("#form_site").select2(); });
</script>
{% endblock %}