{% extends '::base.html.twig' %}

{% block title %}
	Expedition Leader
{% endblock %}

{% block body %}

<div class="well">
<ul class="nav">
  <a class="btn btn-warning" href={{ path('iaato_map_homepage') }}>Map</a>
  <a class="btn btn-warning" href={{ path('iaato_step_list') }}>List</a>
  <a class="btn btn-warning" href={{ path('iaato_csv_download_steps_el') }}>Download Step CSV</a>
  <a class="btn btn-warning" href={{ path('iaato_csv_upload_el') }}>Upload Step CSV</a>
</ul>
<ul class="nav">
	<a class="btn btn-info" href="{{ path('iaato_step_list') }}" >Show steps</a>
	<a class="btn btn-info" href="{{ path('iaato_step_list_add') }}" >Add a step</a>	
	<a class="btn btn-info" href="{{ path('iaato_step_list_remove') }}" >Remove a step</a>
</ul>
<h6>Show -- Your ship : {{ ship }}</h6>
</div>
{% endblock %}
