{% extends ['IaatoIaatoBundle:Capitaine:index.html.twig'] %}

{% block title %}
	Expedition Leader 
{% endblock %}

{% block body %}
<ul class="nav" style="margin-top:15px;">
	<a class="btn btn-info" href="{{ path('iaato_step_list',{"index":1}) }}" >Show steps</a>
	<a class="btn btn-info" href="{{ path('iaato_step_list_add',{"param":"null"}) }}" >Add a step</a>		
	<a class="btn btn-info" href="{{ path('iaato_step_list_remove') }}" >Remove a step</a>
</ul>
<h6>Show -- Your ship : {{ ship.nameship }}</h6>

  <div style='text-align:center;'>
  {% if index != 1 %}
  <a  href="{{ path('iaato_step_list',{"index":1}) }}"><<</a>
  <a  href="{{ path('iaato_step_list',{"index":index-1}) }}"><</a>
  {% else %}
  <a  onclick="return false" href="{{ path('iaato_step_list',{"index":1}) }}"><<</a>
  <a  onclick="return false" href="{{ path('iaato_step_list',{"index":index-1}) }}"><</a>
  {% endif %}
  <a style='text-align:right'>{{ index }} / {{ last_page }}</a>
  {% if index != last_page %}
  <a  href="{{ path('iaato_step_list',{"index":index+1}) }}">></a>
  <a  href="{{ path('iaato_step_list',{"index":last_page}) }}">>></a>
  {% else %}
  <a onclick="return false" href="{{ path('iaato_step_list',{"index":index+1}) }}">></a>
  <a onclick="return false" href="{{ path('iaato_step_list',{"index":last_page}) }}">>></a>
  {% endif %}
  </div>
<table class="table table-hover table-bordered" style=";background-color:white;margin-top:15px;">

  <thead style="background-color:#49afcd">
	<tr>
		<th style="color:iophyjkb"><center>Site</center></th>
		<th style="color:iophyjkb"><center>Date</center></th>
	</tr>
  </thead>
  <tbody>
  {% for step in list_step %}
    <tr>
      <td>{{ step.site.nameSite }}</td>
      <td>{{ step.timeslot }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
