{% extends '::base.html.twig' %}

{% block body %}

<div class="well">

<ul class="nav nav-pills">
	<a class="btn btn-info" href="{{ path('iaato_ship') }}">Show ships</a>
	<a class="btn btn-info" href="{{ path('iaato_ship_add') }}">Add a ship</a>
	<a class="btn btn-info" href="{{ path('iaato_ship_remove') }}">Remove a ship</a>
</ul>

<h3>WARNING : Pas opérationnel</h3>
<div class="well" style="width:60%; margin-left:auto; margin-right:auto; heigth:200px;">
	<form method="post" {{ form_enctype(formaddship) }} class="form">
	    {{ form_errors(formaddship) }}

	    {{ form_row(formaddship.code) }}
	    {{ form_row(formaddship.nameShip) }}
	    {{ form_row(formaddship.society) }}
	    {{ form_row(formaddship.nbPassenger) }}
	    {{ form_row(formaddship.type) }}
	    {{ form_row(formaddship.email) }}
	    {{ form_row(formaddship.phone) }}

	    {{ form_rest(formaddship) }}
	    <input type="submit" value="Envoyer" class="btn btn-primary" />
	</form>
</div>

</div>

{% endblock %}
