{% extends 'IaatoIaatoBundle:Ship:index.html.twig' %}

{% block bodyship %}

<h3>WARNING : Pas opérationnel</h3>
<div class="well" style="width:60%; margin-left:auto; margin-right:auto; heigth:200px;">
	<form method="post" {{ form_enctype(form) }} class="form">
	    {{ form_widget(form) }}

	    {#{{ form_errors(form) }}

	    {{ form_row(form.code) }}
	    {{ form_row(form.nameShip) }}
	    {{ form_row(form.society) }}
	    {{ form_row(form.nbPassenger) }}
	    {{ form_row(form.type) }}
	    {{ form_row(form.email) }}
	    {{ form_row(form.phone) }}

	    {{ form_rest(form) }}#}

	    <input type="submit" value="Envoyer" class="btn btn-primary" />
	</form>
</div>

{% endblock %}
