{% extends '::base.html.twig' %}
{% block body %}
<div class="well">
{% if error != '' %}
<div class="alert alert-error">
	<p data-dismiss="alert">{{ error }}</p>
</div>
{%endif%}
{% if sucess != '' %}
<div class="alert alert-success">
	<p data-dismiss="alert">{{ sucess }}</p>
</div>
{%endif%}
	<h6>Choose the user you want to remove</h6>

<ul>Users :
	{% for user in liste_user %}
			<li>{{user}}</li>
	{% endfor %}
</ul>
<form method="post" {{ form_enctype(form_supp) }} class="form">
		{{ form_errors(form_supp) }}
		{{ form_rest(form_supp) }}
		<input type="submit" value="Remove" class="btn btn-danger" />
</form>
</div>
{% endblock %}


