{% extends 'IaatoIaatoBundle:Activity:index.html.twig' %}

{% block bodyact %}

{% if error != '' %}
	<div class="alert alert-error">
		<p data-dismiss="alert">{{ error }}</p>
  	</div>
{% endif %}

{% if success != '' %}
  	<div class="alert alert-success">
		<p data-dismiss="alert">{{ success }}</p>
  	</div>
{% endif %}

<div class="well" style="width:60%; margin-left:auto; margin-right:auto; heigth:200px;">
	<form method="post" {{ form_enctype(form) }} class="form">
	    {{ form_errors(form) }}
	    {{ form_rest(form) }}
	    <input type="submit" value="Remove" class="btn btn-danger" />
	</form>
</div>

{% endblock %}
